<PortfolioSection Title="Projects">
    <Content>
        @foreach (var project in Projects)
        {
            <p>@project.Name</p>
        }
    </Content>
</PortfolioSection>

@code {
    [Parameter]
    public List<Project> Projects { get; set; }
}