<PortfolioSection IsLoading="IsLoading" Title="Programming Language Proficiency">
    <Content>
        @foreach (var language in Languages)
        {
            <div class="mb-2 flex flex-col gap-2">
                <p class="font-bold @language.Language.GetColor()">@language.Language.GetFormattedString()</p>
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                    <div class="@language.Language.GetColor("bg") h-2.5 rounded-full" style="width: @language.Proficiency%"></div>
                </div>
            </div>
        }
    </Content>
</PortfolioSection>

@code {

    /// <summary>
    /// The list of programming languages to display.
    /// </summary>
    [Parameter]
    public List<PortfolioLanguage> Languages { get; set; } = new();

    /// <summary>
    /// Whether or not to display the loading animation.
    /// </summary>
    [Parameter]
    public bool IsLoading { get; set; }
}