<PortfolioSection Title="Employment">
    <Content>
        @foreach (var company in Companies)
        {
            <p>@company.Name</p>
        }
    </Content>
</PortfolioSection>

@code {
    [Parameter]
    public List<Company> Companies { get; set; }
}