<PortfolioSection IsLoading="IsLoading" Title="Programming Language Proficiency">
    <Content>
        <p class="mb-1">Click on language for additional details</p>
        @foreach (var language in Languages)
        {
            <PortfolioLanguageView Language="language"/>
        }
    </Content>
</PortfolioSection>

@code {

    /// <summary>
    /// The list of programming languages to display.
    /// </summary>
    [Parameter]
    public List<PortfolioLanguage> Languages { get; set; } = [];

    /// <summary>
    /// Whether or not to display the loading animation.
    /// </summary>
    [Parameter]
    public bool IsLoading { get; set; }
}