<PortfolioSection IsLoading="IsLoading" Title="Employment">
    <Content>
        @foreach (var company in Companies)
        {
            <p class="text-lg font-bold text-cyan-500 mb-4">@company.Name</p>
            @foreach (var position in company.Positions)
            {
                <div class="mb-6">
                    <div>
                        <span class="font-bold">@position.Title</span>
                        <span class="float-right">@DateOnlyExtensions.GetDateString(position.StartDate, position.EndDate)</span>
                    </div>
                    <div>
                        <p>@position.Description</p>
                    </div>
                </div>
            }
            <HorizontalBar />
        }
    </Content>
</PortfolioSection>

@code {
    /// <summary>
    /// List of companies under an employer.
    /// </summary>
    [Parameter]
    public List<Company> Companies { get; set; } = new();

    /// <summary>
    /// Whether or not to display the loading animation.
    /// </summary>
    [Parameter]
    public bool IsLoading { get; set; }
}