<PortfolioSection Title="Programming Languages">
    <Content>
        @foreach (var language in Languages)
        {
            <p class="@language.Language.GetColor()">@language.Language.GetFormattedString()</p>
        }
    </Content>
</PortfolioSection>

@code {
    [Parameter]
    public List<PortfolioLanguage> Languages { get; set; }
}