@page "/"

<PageTitle>Owen Krueger</PageTitle>

<div class="grid place-items-center h-screen">
    <div>
        <ProfilePicture />
        <h1 class="text-center text-neutral-50 text-5xl font-bold mb-4">Owen Krueger</h1>
        <Links />
    </div>
</div>