@page "/portfolio"
@using Newtonsoft.Json
@inject HttpClient Client
@inject NavigationManager NavigationManager

<PageTitle>Owen Krueger - Portfolio</PageTitle>

<div class="h-screen">
    <button class="fixed top-4 left-4 p-2 w-20 text-center bg-cyan-500 hover:bg-cyan-600 text-neutral-50 rounded-2xl flex items-center justify-center"
        @onclick="NavigateHome">
        <svg class="fill-current w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M20,9V15H12V19.84L4.16,12L12,4.16V9H20Z"/>
        </svg>
        <span>Home</span>
    </button>
    <div class="mt-8 flex flex-col gap-2 justify-center">
        <PortfolioHeader />
        @* <PortfolioResume /> *@
        <PortfolioWork IsLoading="isLoading" Companies="portfolio.Work.Companies" />
        <PortfolioProjects IsLoading="isLoading" Projects="portfolio.Projects" />
        <PortfolioEducation IsLoading="isLoading" Schools="portfolio.Education.Schools" />
        <PortfolioLanguages IsLoading="isLoading" Languages="portfolio.Languages" />
    </div>
</div>

@code {

    private Portfolio portfolio = new();
    private bool isLoading = true;

    /// <summary>
    /// Gets portfolio information from json file and renders the page.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        // Adding a timestamp to the request prevents the browser from caching the json file.
        var response = await Client.GetAsync($"portfolio.json?timestamp={DateTime.Now}");
        if (response.IsSuccessStatusCode)
        {
            portfolio = JsonConvert.DeserializeObject<Portfolio>(await response.Content.ReadAsStringAsync()) ?? new Portfolio();
            isLoading = false;
        }
    }

    /// <summary>
    /// Navigate back to home page.
    /// </summary>
    private void NavigateHome() => NavigationManager.NavigateTo("");
}