<div class="flex gap-2 justify-center text-neutral-50">
    <a
        href="https://github.com/Owen-Krueger"
        target="_blank"
        class="hover:text-cyan-200">
        GitHub
    </a>
    <span>|</span>
    <a
        href="https://www.linkedin.com/in/owenkrueger"
        target="_blank"
        class="hover:text-cyan-200">
        LinkedIn
    </a>
    @if (IncludePortfolio)
    {
        <span>|</span>
        <a
            href="portfolio"
            class="hover:text-cyan-200">
            Portfolio
        </a>
    }
</div>

@code
{
    /// <summary>
    /// Whether or not to include the link to the portfolio page.
    /// </summary>
    [Parameter]
    public bool IncludePortfolio { get; set; } = true;
}
